.container {
  display: flex;
  flex-direction: column;
  white-space: wrap;
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  opacity: 1;
}

h2 {
  font-size: 20px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.imgContainer {
  width: auto;
  height: auto;
  padding: 5px;
}
img {
  border-radius: 50px;
}

.imge {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
